<div class="center padded whitebg">
    <div class="content padded">
        <div class="padded">
            <h1><i class="fas fa-code"></i> Tecnologías principales</h1>
            <hr class="styled-hr">
        </div>
        <div class="row">
            <div class="card third">
                <h3><i class="fab fa-java icon-tech"></i><span class="title-align">Java</span></h3>
                <p>Es el lenguaje en el que tengo más experiencia. Aunque principalmente lo uso para el backend, desarrollé mi TFG completamente en Java, utilizando vistas JSP para el frontend y un controlador de excepciones middleware.
                   <br><br>El proyecto consistía en una web de gestión de stock para una tienda online, accesible solo para empleados. Permitía ver productos, su stock, detalles y filtrarlos por categorías como tecnología, higiene, herramientas, cocina, etc.</p>
            </div>
            <div class="card third">
                <h3><i class="fab fa-angular icon-tech"></i><span class="title-align">Angular</span></h3>
                <p>Angular es mi framework principal para el desarrollo frontend. He trabajado en múltiples proyectos escalables que incorporan características avanzadas como:
                    <ul>
                        <li>Control de sesión</li>
                        <li>Gestión de cookies</li>
                        <li>Control de roles</li>
                        <li>Medidas de seguridad</li>
                    </ul>
                    Además, tengo un dominio sólido de HTML, CSS3, JavaScript y TypeScript, lo que me permite crear aplicaciones web interactivas y eficientes.
                </p>
            </div>
            <div class="card third">
                <h3><i class="fab fa-python icon-tech"></i><span class="title-align">Python y Flask</span></h3>
                <p>Este portfolio demuestra mis habilidades en Python y Flask, elegidos por su flexibilidad y eficiencia. He desarrollado varias aplicaciones, incluyendo una de gestión de tareas con versiones web y de escritorio.
                    <br><br>
                    Mi experiencia incluye:
                    <ul>
                        <li>Configuración de servidores VPS</li>
                        <li>Implementación de SSL con medidas de seguridad</li>
                        <li>Uso de HSTS y protocolos TLS modernos</li>
                        <li>Implementación de cifrados fuertes</li>
                    </ul>
            </div>
        </div>
    </div>    
</div>