<div class="center">
    <div class="content ">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con gran motivación aplicaciones web.</h1>
                <p>
                    Me encuentro en un aprendizaje constante de nuevas tecnologias, como Python y Flask, las cuales he empleado para crear este portafolio. Actualmente, estoy perfeccionando mi inglés. Además, tengo un gran interés en las IA generativas.
                </p>
            </div>
            <div class="right padded">
                <h1>Conversa conmigo sobre lo que quieras!</h1>
                <p>Simplemente envíame un correo <a href="#contacto" class="green">pinchando aquí</a></p>
            </div>
        </div>
    </div>    
</div>
