<div class="alf">
    <div class="alf-content">
        <div class="left">
            <h1>Excelente! correo enviado!</h1>
            <p>Un equipo de gnomos está trabajando en tu correo ahora mismo... o eso dicen... Pero
                te contestarán dentro en breves momentos!
            </p>
        </div>
        <div class="right">
            <img src="{{ url_for('static', filename='email-read.png') }}" width="600px" alt="El correo ha sido enviado correctamente" >
        </div>
    </div>
</div>